Django==4.2.19
djangorestframework==3.14.0
psycopg2-binary==2.9.6
celery==5.2.7
flower==2.0.1
celery-singleton==0.3.1
django-redis==5.2.0
oauthlib==3.2.2
django-allauth==65.2.0
dj-rest-auth==7.0.0
djangorestframework-jwt==1.11.0
requests==2.31.0
cryptography==41.0.0
django-allauth[mfa]==65.2.0